[user]
	email = danielpessoa.cardeal@gmail.com
	name = Daniel Pessoa Cardeal
[init]
	defaultBranch = main
[pull]
	ff = only
[alias]
	a = add
	aa = add .
	ap = add -p
	c  = commit --edit --verbose
	ca = commit --edit --verbose --amend
	ch = checkout
	l  = log --oneline --graph
	ll = log -1 HEAD
	lv = log
	mg = mergetool --tool nvimdiff
	st = status
	sw = switch
