# --- nvim
nvim/**/plugin/
nvim/**/spell/

# --- fish
fish/**/fish_variables
fish/**/completions/
fish/**/conf.d/
# fisher package manager
fish/**/*nvm*
fish/**/fisher.fish
fish/**/fisher.fish


# --- zsh
zsh/**/.zhistory
zsh/**/.zcompdump
